<header class="header">
  <span class="name">
    <%= link_to "# #{@team.name}", team_path(@team) %>
  </span>
</head>

<div class="edit_team_form">
  <%= render 'form', team: @team %>
</div>

<%= link_to '戻る', team_path(@team), class: "bootstrap_link_black" %>
