<% if @team.present? %>
  <div class="chat-room">
    <nav class="nav_bar">
      <span class="name">
        <%= link_to image_tag("setting_icon.png"), member_team_path(@team.id), class: "bootstrap_link_white" %>
      </span>
      <span class="name">
        <%= "# #{@team.name}" %>
      </span>
    </nav>

    <div id="chats">
      <% @team.chats.order(:created_at).each do |chat| %>
        <%= render'chats/chat', chat: chat %>
      <% end %>
    </div>
    <div class="chat-box">
      <%= render 'chats/form', chat: Chat.new, team: @team %>
    </div>
  </div>
<% end %>
