<%= form_with(model:[post, comment], local: false) do |f| %>
  <div class="input-group">
    <%= f.text_field :comment, rows:'5', placeholder: "話しかけてみましょう!", class: 'form-control mr-2 text_field' %>
    <div class="input-group-append">
      <%= f.submit "ねぇ", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>

