<footer class="fixed-bottom" id="footer">
  <%= form_with model: @chat, local: false do |f| %>
    <div>
      <p><%= f.text_area :content %></p>
      <p><%= f.submit '送信' %></p>
    </div>
  <% end %>
</footer>