<div class="chat mb-2">
  <div class="author">
  <p><%= image_tag(chat.user.icon.url) %><%= chat.user.nickname %></p>
  </div>
  <div class="content">
    <p><%= simple_format(h chat.content) %></p>
    <p><%= link_to "削除", chat, method: :delete %></p>
    </div>
</div>
