<%= form_with(model: chat, local: false ) do |f| %>
  <%= f.hidden_field :team_id, value: team.id %>
  <div class="chat_content">
    <span class="chat_form">
      <%= f.text_field :content, placeholder: "メッセージを入力" %>
    </span>
    <span class="submit_button">
      <%= f.submit "送信", id: "chat-button" %>
    </span>
  </div>
<% end %>
