@import "reset";
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100vh;
  font-family: 'Catamaran', 'Noto Sans Jp', sans-serif;
  background-color: #f5f5f5;
  color: #252525;
  font-size: 17px;
  line-height: 1.5;
}
.content {
  display: flex;
}
.bootstrap_link_white {
  color: #f5f5f5;
  text-decoration: none;
}
.bootstrap_link_black {
  color: #252525;
  text-decoration: none;
}

// side bar //
.left_content {
  flex-basis: 285px;
  position: fixed;
  height: 100%;
  top: 0;
  background-color: #505050;
  border-right: 1px solid #252525;
  .dropdowns {
    transition: all 0.5s ease;
    background-color: #252525c5;
    padding: 0;
    margin: 0;
    .dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f5f5f5;
      padding: 30px 70px;
      &:hover {
        transition: background-color 0.3s ease;
        background-color: #252525e5;
        a {
          color: #f5f5f5;
          text-decoration: none;
        }
      }
    }
  }
  .lounge {
    margin-left: 12px;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 240px;
    height: 50px;
    padding: 5px;
    &:hover {
      background-color: #f5f5f5;
      a {
        display: block;
        color: #252525;
        text-decoration: none;
      }
    }
  }
  .make_team_form {
    margin: 20px 12px;
  }
  .room_link {
    transition: background-color 0.3s ease;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 240px;
    height: 50px;
    padding: 5px;
    margin: 0 12px;
    &:hover {
      background-color: #f5f5f5;
      p {
        color: #252525;
      }
    }
    .room_name {
      margin-bottom: 0;
      color: #f5f5f5;
    }
  }
}

// right_contents //
// common_parts //
.right_content {
  margin-left: 302px;
  flex-basis: 1000px;
  flex-grow: 1;
  min-height: 100vh;

}
.nav_bar {
  background-color: #505050;
  color: #f5f5f5;
  position: fixed;
  transform: translate3d(0, 0, 0);
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  .name {
    font-size: 20px;
    margin-left:30px;
    a {
      text-decoration: none;
      color: #f5f5f5;
    }
  }
}

// chat-room //
#chats{
  height: 100%;
  padding: 100px 15px;
  .chat {
    transition: background-color 0.2s ease;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 0;
    &:hover {
      background-color: #eeeeee;
    }
  }
  
}
.chat-box {
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
  position: fixed;
  bottom: 0;
  transform: translate3d(0, 0, 0);
  width: 100%;
  height: 77px;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .chat_form {
    margin-left: 30px;
    input[type=text] {
      height: 45px;
      font-size: 18px;
      padding: 8px 16px;
      width: 1200px;
      border-radius: 3px;
      border: 1px solid #eeeeee;
    }
  }
  .submit_button {
    background-color:#252525e5;
    color: #f5f5f5;
    padding: 14px 30px;
    margin-left: 5px;
    border-radius: 3px;
  }
}

// member //
.member_content {
  margin-top: 150px;
  margin-left: 15px;
  .member_container {
    width: 1000px;
    p {
      margin-right:20px;
    }
  }
}


// post-room //
.post-room {
  padding-bottom: 60px;
}
// posts //
.posts {
  padding-top: 100px;
  margin-bottom: 30px;
  height: 100%;
  margin: 0 auto;
  .post{
    border-radius: 3px;
    border: 1px solid #cccccc;
    width: 1000px;
    padding: 20px 50px;
    margin: 10px auto;
  }
  .post_content {
    margin-top: 10px;
    text-align: center;
    .image {
      margin: 30px 0 50px 0;
    }
    .text {
      text-align: left;
      padding: 20px 0;
    }
  }
} 

// post form //
.post_form {
  margin: 100px auto;
  width: 1000px;
  .form_content {
    margin: 0 auto;
    width: 700px;
    text-align: center;
    .title {
      text-align: left;
      font-size: 18px;
    }
    textarea {
      padding:10px;
      font-size:16px;
      text-align: left;
      border: 1px solid #555555;
      border-radius: 3px;
      background-color:#ffffff;
      resize:none;
    }
    .submit_button {
      background-color:#252525e5;
      color: #f5f5f5;
      padding: 14px 30px;
      margin-top: 50px;
      border-radius: 3px;
    }
  }
}
.button {
  margin-left: 30px;
}

.post_link {
  background-color:#252525;
  padding: 20px;
  border-radius: 3px;
  margin: 0 10px;
}

 // post/show // 
.post-show-room {
  height: 100vh;
  margin: 30px 0 300px 0;
  #post_show {
    padding: 100px 15px 50px 15px;
    .post{
      border-radius: 3px;
      border: 1px solid #cccccc;
      width: 1000px;
      padding: 20px 50px;
      margin: 10px auto;
    }
    .post_content {
      margin-top: 10px;
      text-align: center;
      .image {
        margin: 30px 0 50px 0;
      }
      .text {
        text-align: left;
        padding: 20px 0;
      }
    }
  }
  .comment_form {
    background-color: #ffffff;
    border-top: 1px solid #eeeeee;
    position: fixed;
    bottom: 0;
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: 77px;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    input[type=text] {
      height: 45px;
      font-size: 18px;
      padding: 8px 16px;
      width: 1200px;
      border-radius: 3px;
      border: 1px solid #eeeeee;
    }
    .submit_button {
      background-color:#252525e5;
      color: #f5f5f5;
      padding: 14px 30px;
      margin-left: 5px;
      border-radius: 3px;
    }
  }
  #comments {
    width: 1000px;
    margin: 0 auto;
  }
}

// user //
.profile-room {
  height: 100vh;
  padding-bottom: 150px;
}
.user_flex {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  .user_flex_item {
    text-decoration: none;
    margin: 0 20px 0 0;
  }
}
.user_info {
  height: 100%;
  padding: 100px 0 0 15px;
  .user_profile {
    background-color: #252525e5;
    color: #f5f5f5;
    height: 300px;
    padding: 25px 50px 0 50px;
    border-radius: 3px;
    margin: 0 auto;
    width: 1000px;
    .user_flex {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 20px;
      .user_flex_item {
        margin: 0 20px 0 0;
      }
      input[type=submit]{
        transition: background-color 0.3s ease;
        background-color:#252525e5;
        color: #f5f5f5;
        font-size: 16px;
        padding: 14px 30px;
        margin-left: 5px;
        border-radius: 3px;
        &:hover {
          background-color: #252525c5;
        }
      }
    }
    .user_introduce {
      height: 200px;
      padding-bottom: 20px;
      .introduce_nickname {
        padding-top: 30px;
        margin-bottom: 0;
        .name {
          font-size: 20px;
        }
      }
    }
  }
}

.login {
  margin-top: 300px;
  width: 300px;
  margin: 300px auto;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  background-color: #f5f5f5;
}