@import "reset";
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100vh;
  font-family: 'Catamaran', 'Noto Sans Jp', sans-serif;
  background-color: #f5f5f5;
  color: #252525;
  font-size: 17px;
  line-height: 1.5;
}
.content {
  display: flex;
}
.bootstrap_link_white {
  color: #f5f5f5;
  text-decoration: none;
}
.bootstrap_link_black {
  color: #252525;
  text-decoration: none;
}

// side bar //
.left_content {
  position: fixed;
  height: 100%;
  top: 0;
  flex-basis: 280px;
  background-color: #343838;
  .dropdowns {
    transition: all 0.5s ease;
    background-color: #000000;
    width:100%;
    padding: 0;
    .dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f5f5f5;
      padding: 30px 70px;
      &:hover {
        transition: background-color 0.2s ease;
        background-color: #f5f5f5c5;
        color: #252525;
        a {
          text-decoration: none;
        }
      }
    }
  }   
  form{
    width: 280px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .form_content {
      width: 200px;
      background-color: #f5f5f5;
      padding: 10px 15px;
      border-radius: 3px;
    }
    .form_button {
      width: 60px;
      height:50px;
      background-color:#000000;
      color: #f5f5f5;
      font-size: 13px;
      border-radius: 3px;
      text-align: center;
      &:hover {
        transition: background-color 0.2s ease;
        background-color: #00000050;
      }
    }
  }
  .sidebar_link {
    transition: background-color 0.3s ease;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 240px;
    height: 50px;
    padding: 5px;
    margin: 0 12px;
    &:hover {
      background-color: #f5f5f5;
      p {
        color: #252525;
      }
    }
    .sidebar_link_name {
      margin-bottom: 0;
      color: #f5f5f5;
    }
  }
}

// right_contents //
// common_parts //
.right_content {
  flex-basis: 1000px;
  flex-grow: 1;
  min-height: 100vh;
  margin-left: 280px;
}
.nav_bar {
  background-color: #343838;
  color: #f5f5f5;
  position: fixed;
  transform: translate3d(0, 0, 0);
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 100;
  .name {
    font-size: 20px;
    margin-left:30px;
    a {
      text-decoration: none;
      color: #f5f5f5;
    }
  }
}

// chat-room //
#chats{
  height: 100%;
  padding: 100px 15px;
  .chat {
    transition: background-color 0.2s ease;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 0;
    &:hover {
      background-color: #eeeeee;
    }
  }
  
}
.chat-box {
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
  position: fixed;
  bottom: 0;
  transform: translate3d(0, 0, 0);
  width: 85%;
  height: 77px;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  form {
    width: 100%;
  }
  .chat_content {
    display: flex;
    margin-left: 30px;
  }
  .chat_form {
    display: block;
    width: 72%;
    min-width: 200px;
    input[type=text] {
      height: 45px;
      font-size: 18px;
      padding: 8px 16px;
      width: 100%;
      // min-width: 200px;
      border-radius: 3px;
      border: 1px solid #eeeeee;
    }
  }
  .submit_button {
    background-color:#252525e5;
    color: #f5f5f5;
    padding: 14px 30px;
    margin-left: 5px;
    border-radius: 3px;
  }
}

// member //
h5 {
  margin-bottom: 0;
  margin-top: 30px;
}
.edit_team_form {
  margin-top: 100px;
  h5 {
    margin: 30px 0 10px 15px;
  }
  .input-group {
    width: 700px;
    margin: 0 0 30px 15px;
  }
}
.assign_form {
  margin:50px 0 0 15px;
  width: 1000px;
  .input-group {
    margin-top: 10px;
    width: 700px;
  }
}
.member_flex {
  margin: 30px 15px 0 0;
  display: flex;
  h5 {
    margin: 0 20px 0 15px;
  }
  .flex_item {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.member_content {
  margin: 30px 0 0 15px;
  display: flex;
  flex-wrap: wrap;
  .member_container {
    padding:20px;
    margin-left: 5px;
    width: 170px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
  }
  .icon {
    width: 50px;
    margin: 10px auto;
  }
  .name {
    text-align: center;
  }
}

// post-room //
.post-room {
  padding-bottom: 60px;
}
// posts //
.posts {
  padding-top: 100px;
  margin-bottom: 30px;
  height: 100%;
  margin: 0 auto;
  .post{
    border-radius: 3px;
    border: 1px solid #cccccc;
    width: 1000px;
    padding: 20px 50px;
    margin: 10px auto;
  }
  .post_content {
    margin-top: 10px;
    text-align: center;
    .image {
      margin: 30px 0 50px 0;
    }
    .text {
      text-align: left;
      padding: 20px 0;
    }
  }
} 

// post form //
.post_form {
  margin: 150px auto;
  width: 1000px;
  .form_content {
    margin: 0 auto;
    width: 700px;
    text-align: center;
    .title {
      text-align: left;
      font-size: 18px;
    }
    textarea {
      padding:10px;
      font-size:16px;
      text-align: left;
      border: 1px solid #555555;
      border-radius: 3px;
      background-color:#ffffff;
      resize:none;
    }
    .submit_button {
      background-color:#252525e5;
      color: #f5f5f5;
      padding: 14px 30px;
      margin-top: 50px;
      border-radius: 3px;
    }
  }
}
.button {
  margin-left: 30px;
}

.post_link {
  background-color:#252525;
  padding: 20px;
  border-radius: 3px;
  margin: 0 10px;
}

 // post/show // 
.post-show-room {
  height: 100vh;
  margin: 30px 0 300px 0;
  #post_show {
    padding: 100px 15px 50px 15px;
    .post{
      border-radius: 3px;
      border: 1px solid #cccccc;
      width: 1000px;
      padding: 20px 50px;
      margin: 10px auto;
    }
    .post_content {
      margin-top: 10px;
      text-align: center;
      .image {
        margin: 30px 0 50px 0;
      }
      .text {
        text-align: left;
        padding: 20px 0;
      }
    }
  }
  .comment_form {
    background-color: #ffffff;
    border-top: 1px solid #eeeeee;
    position: fixed;
    bottom: 0;
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: 77px;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    input[type=text] {
      height: 45px;
      font-size: 18px;
      padding: 8px 16px;
      width: 1200px;
      border-radius: 3px;
      border: 1px solid #eeeeee;
    }
    .submit_button {
      background-color:#252525e5;
      color: #f5f5f5;
      padding: 14px 30px;
      margin-left: 5px;
      border-radius: 3px;
    }
  }
  #comments {
    width: 1000px;
    margin: 0 auto;
  }
}

// user //
.profile-room {
  height: 100vh;
  padding-bottom: 150px;
}
.user_flex {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  .user_flex_item {
    text-decoration: none;
    margin: 0 20px 0 0;
  }
}
.user_info {
  height: 100%;
  padding: 100px 0 0 15px;
  .user_profile {
    background-color: #343838;
    color: #f5f5f5;
    height: 300px;
    padding: 25px 50px 0 50px;
    border-radius: 3px;
    margin: 0 auto;
    width: 1000px;
    .user_flex {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 20px;
      .user_flex_item {
        margin: 0 20px 0 0;
      }
    }
    .user_introduce {
      height: 200px;
      padding-bottom: 20px;
      .introduce_myself {
        padding-top: 5px;
        margin-bottom: 10px;
        .name {
          font-size: 20px;
        }
      }
    }
  }
  .field {
    margin-bottom: 30px;
  }
  input[type=text]{
    border: 1px solid #252525;
    background-color: #ffffff;
    width: 200px;
    border-radius: 5px;
    padding-left: 10px;
  }
  input[type=email]{
    border: 1px solid #252525;
    background-color: #ffffff;
    width: 300px;
    padding-left: 10px;
    border-radius: 5px;
  }
  input[type=password]{
    border: 1px solid #252525;
    background-color: #ffffff;
    width: 300px;
    padding-left: 10px;
    border-radius: 5px;
  }
  textarea {
    padding:10px;
    text-align: left;
    width: 500px;
    border: 1px solid #555555;
    border-radius: 3px;
    background-color:#ffffff;
    resize:none;
  }
  input[type=submit]{
    transition: background-color 0.3s ease;
    background-color:#252525e5;
    color: #f5f5f5;
    font-size: 16px;
    padding: 14px 30px;
    margin: 30px auto;
    border-radius: 3px;
    &:hover {
      background-color: #252525c5;
    }
  }
  h5 {
    margin-top: 100px;
  }
}

.login {
  padding: 30px;
  width: 600px;
  margin: 200px auto;
  border-radius: 3px;
  border: 1px solid #f5f5f5;
  background-color: #ffffff;
  .field {
    margin-bottom: 15px;
  }
  h2 {
    letter-spacing: .03em;
    margin-bottom: 30px;
  }
  input[type=text]{
    border: 1px solid #252525;
    background-color: #ffffff;
    width: 400px;
    border-radius: 5px;
    padding-left: 10px;
  }
  input[type=email]{
    border: 1px solid #252525;
    background-color: #ffffff;
    width: 400px;
    border-radius: 5px;
    padding-left: 10px;
  }
  input[type=password]{
    border: 1px solid #252525;
    background-color: #ffffff;
    width: 400px;
    border-radius: 5px;
    padding-left: 10px;
  }
  input[type=submit]{
    transition: background-color 0.3s ease;
    background-color:#252525e5;
    color: #f5f5f5;
    font-size: 16px;
    padding: 14px 30px;
    margin: 30px auto;
    border-radius: 3px;
    &:hover {
      background-color: #252525c5;
    }
  }
}

// call me home //
.call_me_home {
  width: 1240px;
  margin: 100px auto;
  h3 {
    font-size: 50px;
    letter-spacing: .05em;
  }
  .home_contents {
    padding: 30px 20px;
    p {
      padding: 10px 0;
    }
    .greeting {
      padding: 20px;
    }
    .call_me_where {
      display: flex;
      justify-content: space-evenly;
      .place {
        width: 400px;
        padding: 20px;
        h5 {
          font-size: 30px;
          letter-spacing: .03em;
          text-align: center;
        }
        .place_detail {
          width: 360px;
          margin: 0 auto;
          padding: 10px;
          p {
            margin-top: 20px;
            letter-spacing: .03em;
            font-size: 16px;
          }
        }
      }
    }
    .detail {
      padding-top: 30px;
      margin-left: 20px;
      width: 1000px;
    }
  }
}