<nav class="nav_bar">
  <span class="name">
    <%= link_to 'Lounge', new_post_path, class: "bootstrap_link_white" %>
  </span>
</nav>

<%= render 'form', post: @post %>

<div class="button">
  <%= link_to '詳細', @post, class: "bootstrap_link_black" %> |
  <%= link_to 'Lounge', posts_path, class: "bootstrap_link_black" %>
</div>